[Unit]
Description=nanocl deamon
Documentation=https://github.com/leon3s/nanocl
After=network-online.target nanocld@dockerd.service
Wants=network-online.target
Requires=nanocld@dockerd.service

[Service]
User=nanocl
Group=nanocl
ExecStart=/usr/local/bin/nanocld --docker-host /run/nanocl/docker.sock
PIDFile=/run/nanocl/nanocl.pid
TimeoutSec=0
RestartSec=2
Restart=always
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000
# locked memory
LimitMEMLOCK=infinity
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false

[Install]
WantedBy=multi-user.target
